{% extends 'memoria/base.html' %}
{% block content %}
	<title>Фильмы</title>

	<div class="super_main_container">

		<div class="buttons">
			<div class="main_container2">
			<input class="some_button"
				type="button"
				onclick="location.href='/profile'"
				value="Назад">
			</div>

			<div class="main_container3">
			<input class="some_button"
				type="button"
				name="add_button"
				onclick="location.href='/films/new'"
				value="Добавить">
			</div>

			<h2>МОИ ФИЛЬМЫ</h2>

			<style>
  			h2 {color: #1D634C;
  				font-family: 'Philosopher', sans-serif; 
  				font-size: 35px;
  				margin-left: 2%;}
			</style>

		</div>
		
		<div class="main_list_container">
			{% for film in films %}
				<a class="record" href="{% url 'film_view' pk=film.pk %}">{{film.name}}</a>
			{% endfor %}
		</div>
	</div>

{% endblock %}